<div>
  <h2 id="page-heading" data-cy="EtatDemandeHeading">
    <span>Etat Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etat-demande"
        [routerLink]="['/etat-demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Etat Demande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etatDemandes?.length === 0">
    <span>No etatDemandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etatDemandes && etatDemandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etat"><span>Etat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDisponibilite"><span>Date Disponibilite</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="demandeMatriculeApp.numeroDemandeApp">
            <span>Demande Matricule App</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="demandeMatriculeEtab.numeroDemandeEtab">
            <span>Demande Matricule Etab</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etatDemande of etatDemandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etat-demande', etatDemande.id, 'view']">{{ etatDemande.id }}</a>
          </td>
          <td>{{ etatDemande.etat }}</td>
          <td>{{ etatDemande.dateDisponibilite | formatMediumDate }}</td>
          <td>{{ etatDemande.description }}</td>
          <td>
            <div *ngIf="etatDemande.demandeMatriculeApp">
              <a [routerLink]="['/demande-matricule-app', etatDemande.demandeMatriculeApp?.id, 'view']">{{
                etatDemande.demandeMatriculeApp?.numeroDemandeApp
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="etatDemande.demandeMatriculeEtab">
              <a [routerLink]="['/demande-matricule-etab', etatDemande.demandeMatriculeEtab?.id, 'view']">{{
                etatDemande.demandeMatriculeEtab?.numeroDemandeEtab
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etat-demande', etatDemande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etat-demande', etatDemande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(etatDemande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="etatDemandes && etatDemandes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
