<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personnelEtab">
      <h2 data-cy="personnelEtabDetailsHeading"><span>Personnel Etab</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ personnelEtab.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ personnelEtab.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ personnelEtab.prenom }}</span>
        </dd>
        <dt><span>Fonction</span></dt>
        <dd>
          <span>{{ personnelEtab.fonction }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ personnelEtab.user?.login }}</span>
        </dd>
        <dt><span>Etablissement</span></dt>
        <dd>
          <div *ngIf="personnelEtab.etablissement">
            <a [routerLink]="['/etablissement', personnelEtab.etablissement?.id, 'view']">{{ personnelEtab.etablissement?.nomEtab }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/personnel-etab', personnelEtab.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
