<div>
  <h2 id="page-heading" data-cy="DemandeMatriculeEtabHeading">
    <span>Demande Matricule Etabs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-matricule-etab"
        [routerLink]="['/demande-matricule-etab/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Demande Matricule Etab </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeMatriculeEtabs?.length === 0">
    <span>No demandeMatriculeEtabs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandeMatriculeEtabs && demandeMatriculeEtabs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numeroDemandeEtab"><span>Numero Demande Etab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomEtab"><span>Nom Etab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeEtab"><span>Type Etab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="statut"><span>Statut</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="emailEtab"><span>Email Etab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="region"><span>Region</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="departement"><span>Departement</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commune"><span>Commune</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeInsp"><span>Type Insp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeMatriculeEtab of demandeMatriculeEtabs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-matricule-etab', demandeMatriculeEtab.id, 'view']">{{ demandeMatriculeEtab.id }}</a>
          </td>
          <td>{{ demandeMatriculeEtab.numeroDemandeEtab }}</td>
          <td>{{ demandeMatriculeEtab.nomEtab }}</td>
          <td>{{ demandeMatriculeEtab.typeEtab }}</td>
          <td>{{ demandeMatriculeEtab.statut }}</td>
          <td>{{ demandeMatriculeEtab.emailEtab }}</td>
          <td>{{ demandeMatriculeEtab.region }}</td>
          <td>{{ demandeMatriculeEtab.departement }}</td>
          <td>{{ demandeMatriculeEtab.commune }}</td>
          <td>{{ demandeMatriculeEtab.typeInsp }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-matricule-etab', demandeMatriculeEtab.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-matricule-etab', demandeMatriculeEtab.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeMatriculeEtab)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="demandeMatriculeEtabs && demandeMatriculeEtabs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
